* {
    margin: 0;
    padding: 0;
}

/* Estilos globais */
body {
    margin: 0;
    font-family: Alata;
    background-color: #f4f4f4; /* Cor de fundo do corpo */
    overflow: hidden;
}

/* Estilos para o cabeçalho */
.header {
    background-color: #f4f4f4;
    padding-inline: 16px;
    margin-left: -100px;
}

.nav {
    max-width: 1300px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.logo {
    width: 20px;
    margin-left: 10vh;
}
  
.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}
  
.nav-list a {
    font-size: 18px;
    color: black;
    padding-block: 16px;
    list-style: none;
    text-decoration: none;
}
  
.login-registro-btns {
    display: flex;
    gap: 32px;
    list-style: none;
    margin-left: 120vh;
}
  
.login-registro-btns a {
    font-size: 18px;
    color: black;
    padding-block: 16px;
    margin-left: auto;
    border-radius: 8px;
    padding: 16px;
    background: rgba(77, 85, 97, 0.30);
    text-decoration: none;
}
  
.login-registro-btns li a:hover {
    background: rgb(123, 134, 151);
    border-radius: 5px; 
}

.logo {
    width: 82px;
    height: 82px;
    margin-right: 20px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    padding: 10px;
    margin-left: -3vh;
    z-index: 1;
    min-width: 120px;
    top: 35px;
}
  
.dropdown-content a {
    color: #333;
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropbtn {
    color: #333;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: none;
}
  
.dropbtn:hover {
    background-color: #f9f9f9;
}

/* Estilos para o conteúdo principal */
main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 70px 20px 20px 20px; /* Espaçamento interno do conteúdo principal */
}

/* Contêiner da imagem principal */
.image-container {
    justify-content: left;
    margin-top: 0;
}

.botaoRegistrar {
    justify-content: center;
}

/* Estilos para os botões de registro */
.register-button, .register-button1, .register-button2, .register-button3 {
    background-color: #d3d3d3; /* Cor de fundo dos botões */
    border: 2px solid #a3a3a3; /* Borda com tonalidade semelhante */
    padding: 15px 20px; /* Preenchimento dos botões */
    cursor: pointer;
    border-radius: 5px; /* Bordas arredondadas */
    position: absolute;
    right: 20%;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out; /* Transições para efeitos */
    width: 160px; /* Largura dos botões */
    height: 50px; /* Altura dos botões */
    white-space: nowrap; /* Evita quebra de linha no texto dos botões */
}

.register-button:hover, .register-button1:hover, .register-button2:hover, .register-button3:hover {
    background-color: #b3b3b3; /* Cor alterada ao passar o mouse */
}

.register-button:active, .register-button1:active, .register-button2:active, .register-button3:active {
    transform: scale(0.95); /* Efeito de escala ao clicar */
}

/* Posicionamento dos botões de registro */
.register-button {
    top: 25%; /* Distância do topo para o primeiro botão */
}

.register-button1 {
    top: 40%; /* Distância do topo para o segundo botão */
}

.register-button2 {
    top: 55%; /* Distância do topo para o terceiro botão */
}

.register-button3 {
    top: 70%; /* Distância do topo para o quarto botão */
}

/* Estilos para o logotipo da imagem */
.imageLogo {
    width: 60px; /* Largura do logotipo */
}

/* Estilos para a barra de navegação */
.navbar {
    display: flex;
    background-color: #f4f4f4;
    justify-content: center;
    justify-content: space-between;
}

.divLogo {
    display: block;
}

.botaoTitulos {
    margin-top: 25px;
}

/* Estilos para a imagem principal */
.imagemPrincipal {
    width: 600px;
    height: 900px;
}

/* Estilos para os botões adicionais */
.botaoHome {
    margin-right: 100px;
}

.botaoProblema {
    margin-left: 100px;
}