body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.80) 0%, rgba(77, 85, 97, 0.80) 75%, rgba(77, 85, 97, 0.80) 100%), #4D5561;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajuste para 100vh */
  overflow: hidden; /* Remover a barra de rolagem */
  font-family: Alata;
}

.container {
  background-color: #D1CACA;
  border-radius: 10px;
  padding: 15px;
  width: 80%;
  max-width: 760px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cabecalho {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.titulo {
  flex-grow: 1;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.icone-predio {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
}

.form-coluna {
  flex: 1;
  padding: 10px;
}

.form-grupo {
  margin-bottom: 10px;
}

.form-grupo label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 7px;
  border: 1px solid #858181;
  border-radius: 5px;
}

.grupo-botoes {
  text-align: center;
  margin-top: 20px;
}

.botao {
  padding: 10px 20px;
  background-color: #4D5561;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botao:hover {
  background-color: #3b4a5a;
}

.btn-voltar {
  text-align: left;
  margin-top: 10px;
}

.botao-voltar {
  padding: 10px 20px;
  background-color: #fff;
  color: #4D5561;
  border: 1px solid #4D5561;
  border-radius: 5px;
  cursor: pointer;
}

.botao-voltar:hover {
  background-color: #f1f1f1;
}

.tabela {
  margin-top: 20px;
}

.tabela-cabecalho, .tabela-corpo {
  display: flex;
}

.tabela-coluna {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ddd;
  flex: 1;
  text-align: center;
}
